<!DOCTYPE html>
<html lang="it">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/blog.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <div class="blog-container">
        <h1 class="title">BLOG POSTS</h1>
        <div class="content-container">
            <main>
                <ul class="flow | posts">
                    {% for post in collections.postsEnglish reversed %}
                    <li class="post">
                        <div class="post-header">
                            <div class="post-header-left">
                                <div class="blog-image">
                                    <img src="/assets/{{ post.data.imagePath }}" alt="{{ post.data.title }}">
                                </div>
                            </div>
                            <div class="post-header-right">
                                <h2 class="post-title">
                                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                                </h2>
                                <span class="post-snippet">
                                    <a href="{{ post.url }}">{{ post.data.snippet }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="post-tags">
                                {% for tag in post.data.tags %}
                                <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
                                {% endfor %}
                            </div>
                            <div class="post-date">
                                {{ post.date | date: '%B %e, %Y' }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </main>
        </div>
        <footer class="page-footer">
            <div class="container">
                <small>Copyright <b>{{site.author}}</b></small>
            </div>
        </footer>
        <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
        <aside id="sidebar">
            <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                    <use href="/assets/cross.svg#content" />
                </svg></a>
            {% include 'menu' %}
        </aside>
    </div>
</body>

</html>