<!DOCTYPE html>
<html lang="it">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/blog.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <main class="blog-content flow">
        <h1 class="title">All Blog Posts</h1>
        <p class="subtitle">Browse the following posts</p>
        {% for post in collections.posts reversed %}
        <div class="post">
            <div class="left">
                <img src="/assets/{{ post.data.imagePath }}" alt="">
            </div>
            <div class="right">
                <div class="top">
                    <p class="date">{{ post.date | date: '%B %e, %Y' }}</p>
                    <a href="{{ post.url }}">
                        <h2>{{ post.data.title }}</h2>
                    </a>
                    <p class="snippet">{{ post.data.snippet }}</p>
                </div>
                <div class="tags">
                    {% assign tagsList = post.data.tags | removeDefaultTags %}
                    {% for tag in tagsList %}
                    <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside>
</body>

</html>