---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
layout: tagged-posts.liquid    
renderData:
  title: Posts Tagged Under "{{ tag }}"
permalink: /tags/{{ tag }}/
---
    {% for post in collections.posts reversed %}
    <div class="cont">
        <div class="lef">

            <a id="title" href="{{ post.url }}">
                <h4> {{ post.data.title }} </h4>
            </a>
            <p>{{ post.data.snippet }}</p>
            <div class="pop">
                {% for tag in post.data.tags %}
                <p><a href="/tags/{{tag}}" class="tag">#{{tag}}</a></p>
                {% endfor %}
                <p>{{ post.date | date: '%B %e, %Y' }}</p>
            </div>

        </div>
        <div class="righ" style="background-image: url('/assets/{{ post.data.imagePath }}') ;">

        </div>
    </div>
    <hr class="hr" />
    {% endfor %}
