---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - postsEnglish
layout: tagged-posts.liquid    
renderData:
  title: Posts Tagged Under "{{ tag }}"
permalink: /tags/{{ tag }}/
---
{% for post in collections[tag] reversed %}
<div class="post">
    <div class="left">
        <img src="/assets/{{ post.data.imagePath }}" alt="">
    </div>
    <div class="right">
        <div class="top">
            <p class="date">{{ post.date | date: '%B %e, %Y' }}</p>
            <a href="{{ post.url }}">
                <h2>{{ post.data.title }}</h2>
            </a>
            <p class="snippet">{{ post.data.snippet }}</p>
        </div>
        <div class="tags">
            {% for tag in post.data.tags %}
            <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
