---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - postsEnglish
    - tagsListGlobal
layout: tagged-posts.liquid    
eleventyComputed:
  title: Tutti gli articoli di "{{ tag }}"
permalink: /tags/{{ tag }}/
---
{% assign taggedCollections = collections[tag] |  italianPostsOnly %}
{% for post in taggedCollections %}
<div class="post">
    <div class="left">
        <img src="{{ post.data.imagePath }}" alt="">
    </div>
    <div class="right">
        <div class="top">
            <p class="date">{{ post.date | date: '%B %e, %Y' }}</p>
            <a href="{{ post.url }}">
                <h2>{{ post.data.title }}</h2>
            </a>
            <p class="snippet" title="{{ post.data.snippet }}">{{ post.data.snippet }}</p>
        </div>
        <div class="tags">
            {% assign tagsList = post.data.tags | removeDefaultTags %}
            {% for tag in tagsList %}
            <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
