<!DOCTYPE html>
{% if locale == "en" %}
<html lang="en">
{% else %}
<html lang="it">
{% endif %}

<head>
    <title>{{title}}</title>
    {% include 'head.html' %}
    {% if noIndex == true %}
    <meta name="robots" content="noindex" />
    {% else %}
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}" />
    {% endif %}
    <link rel="stylesheet" href="/styles/blogpost.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <main>
        <div class="content">
            <p class="date">{{ date | date: '%B %e, %Y' }}</p>
            <h1 class="title">{{title}}</h1>
            <!-- <img src="{{imagePath }}" alt="" class="post-image"> -->
            <div class="tags">
                {% assign tagsList = tags | removeDefaultTags %}
                {% for tag in tagsList %}
                <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
                {% endfor %}
            </div>
            <div class="text">{{content}}</div>
            {% if locale == "en" %}
            <a class="backlink" href="/en/blog"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg> View All Articles</a>
            {% else %}
            <a class="backlink" href="/blog"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg> View All Articles</a>
            {% endif %}
            <div class="similar-articles | flow">
                {% assign tagsListToFilter = tags %}
                {% assign relatedPosts = collections.posts | filterRelated: tagsListToFilter, page.url %}
                {% if relatedPosts.size > 0 %}
                <h3 class="similar">Similar Articles:</h3>
                {% for post in relatedPosts %}
                <div class="post">
                    <div class="left">
                        <img src="{{ post.data.imagePath }}" alt="">
                    </div>
                    <div class="right">
                        <div class="top">
                            <p class="date">{{ post.date | date: '%B %e, %Y' }}</p>
                            <a href="{{ post.url }}">
                                <h2>{{ post.data.title }}</h2>
                            </a>
                            <p class="snippet" title="{{ post.data.snippet }}">{{ post.data.snippet }}</p>
                        </div>
                        <div class="tags">
                            {% assign tagsList = post.data.tags | removeDefaultTags %}
                            {% for tag in tagsList %}
                            <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside>
</body>

</html>