<!DOCTYPE html>
<html lang="it">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/styles/blogpost.css">
</head>

<body>
    {% include 'theme' %}
    {% include 'header' %}
    <main>
        <div class="content">
            <p class="date">{{ date | date: '%B %e, %Y' }}</p>
            <h1 class="title">{{title}}</h1>
            <img src="/assets/{{imagePath }}" alt="">
            <div class="tags">
                {% for tag in tags %}
                <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
                {% endfor %}
            </div>
            <div class="text">{{content}}</p>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside>
</body>

</html>