<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="preload" href="/assets/Graphik-Regular-Web.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/main.js" defer></script>
    <link rel="stylesheet" href="/styles/blog.css">
    <title>{{title}}</title>
</head>

<body>
    <script>
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            document.body.classList.add('dark');
        }
    </script>
    <script>
        const onLangChange = (toLang, pageUrl) => {

            if (pageUrl.includes("en"))
                pageUrl = pageUrl.split("en").slice(1)

            if (toLang === "en") {
                window.location.href = new URL(window.location.protocol + "//" + window.location.host + "/en" + pageUrl);
            }
            else {
                window.location.href = new URL(window.location.protocol + "//" + window.location.host + pageUrl);
            }
        }
    </script>
    <header class="page-header">
        <div class="container">
            <a href="javascript:toggleSidebar()" class="icon-btn" title="Menu" id="menu_btn"><svg class="icon">
                    <use href="/assets/bars.svg#content" />
                </svg></a>
            <img width="48" height="48" class="logo" src="/assets/logo.svg" alt="">
            <nav>
                <a href="/" class="menu-item">Home</a>
                <a href="/about" class="menu-item">About</a>
                <a href="/contact" class="menu-item">Contact</a>
                <a href="/blog" class="menu-item">Blog</a>
            </nav>
            <input type="search" id="searchbar" class="searchbar" placeholder="Search" />
            <a href="javascript:toggleSearchBar()">
                <i class="fa fa-search fa-lg"></i>
            </a>
            <a id="theme_switch" class="icon-btn" href="javascript:toggleTheme()" title="Change theme"><svg
                    class="icon">
                    <use href="/assets/moon.svg#content" />
                </svg></a>
        </div>
    </header>

     
    <div class="detail__main">
        <div class="page_title">
            <h4>{{title}}</h4>
        </div>
        <div class="description__column">
            <img class="profile" src="/assets/logo.svg" alt="">
            <h6>{{author}}</h6>
            <h6> &#x2022; </h6>
            <h6> July 10, 2022</h6>
            <h6> &#x2022; </h6>
            <h6> 12,39849 Views</h6>
        </div>
        <div class="mimage">
        </div>
        <div class="body__text">
            {{content}}
            <div class="tags__cont">
                {% for tag in tags %}
                    <a href="/tags/{{tag}}" class="tag">#{{tag}}</a>
                {% endfor %}
            </div>
            <div class="view_all">
                <a href="#"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> View All Article</a>
                <hr class="hr" />

            </div>
            <div class="corelated__articles">
                <h4>CORELLATED ARTICLES</h4>
                <div class="corelated__container">
                    <div class="top">
                        <div class="left">
                            <h5> <strong> Lorem ipsum dolor sit amet consectetur </strong> </h5>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit. </p>
                        </div>
                        <div class="right">
                            <!-- <img src="/assets/blogImages/b-image.svg" alt="The blog image" /> -->
                        </div>
                    </div>
                    <div class="down">
                        <div class="corelated__tags">
                            <p> #popular</p>
                            <p> #important</p>
                        </div>
                        <div class="date">
                            <p> July 7, 2022</p>
                        </div>
                    </div>
                    <hr />
                </div>


                <div class="corelated__container">
                    <div class="top">
                        <div class="left">
                            <h5> <strong> Lorem ipsum dolor sit amet consectetur </strong> </h5>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit. </p>
                        </div>
                        <div class="right">
                            <!-- <img src="/assets/blogImages/b-image.svg" alt="The blog image" /> -->
                        </div>
                    </div>
                    <div class="down">
                        <div class="corelated__tags">
                            <p> #popular</p>
                            <p> #important</p>
                        </div>
                        <div class="date">
                            <p> July 7, 2022</p>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <small>Copyright <b>{{site.author}}</b></small>
        </div>
    </footer>
    <div class="overlay" id="main_overlay" onclick="toggleSidebar()"></div>
    <aside id="sidebar">
        <a href="javascript:toggleSidebar()" class="icon-btn" title="Close"><svg class="icon">
                <use href="/assets/cross.svg#content" />
            </svg></a>
        {% include 'menu' %}
    </aside> 
</body>

</html>